.TopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #228B22;
    box-shadow: 0px 2px 5px #222222ff;
}

.TopBarContainerLeft{
    flex-grow: 1;
    display: flex;
    color: black;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.TopBarContainerRight{
    width: 50%;
    height: 75;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.App-logo {
}

.buttons{
    flex-grow: 1;
    height: 100%;
    border-radius: 15%;
    background-color:#d1faac;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-style:inset;
    box-shadow:#222222ff;
}