.Welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    font-family: titillium;
}

.ItemList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #228B22;
}

.ItemListing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #95e095;
    border-radius: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 0pt;
    padding-bottom: 0pt;

}

.GetSkisButton {
    display:block;
    color: #909090;
    float:left;
    background-color: white;
    cursor: pointer;
}
.GetSkisButton {width: 100%; height: 50px;}