.Welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    font-family: titillium;
}

.ItemList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ItemListing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #82aa82;
    border-radius: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-bottom: 1px solid #333333;

}

.profile {
    border-radius: 50%;
}

html { 
    background: url("https://res.cloudinary.com/simpleview/image/upload/v1504857098/clients/norway/hiking_litlefjellet_andalsnes_norway_2_1_9133c8d8-8524-4326-9c33-de8358fa370a.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h1 {
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3 {
    color: rgb(255, 255, 254);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
    color: rgb(255, 255, 254);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
    color: rgb(255, 255, 254);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.GetSkisButton {
    display:block;
    color: #909090;
    float:left;
    background-color: white;
    cursor: pointer;
}
.GetSkisButton {width: 100%; height: 50px;}